.welcome {
    background-image: url("./assests/backgrounds/h_img.jpg");
    height: 800px;
    text-align: center;
    color: whitesmoke;
    padding: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
}

.about {
    height: 300px;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-weight: bold;
}

.services {
    background-image: url("./assests/backgrounds/s_image.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    padding-top: 150px;
}

.whatwedo {
    height: 400px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    text-align: center;
}

.content {
    font-weight: normal;
}

.portfolio {
    text-align: center;
}

.contact {
    background-image: url("./assests/backgrounds/c_image.jpg");
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    padding-top: 100px;
}

input[type=text] {
    width: 30%;
    color: whitesmoke;
    background-color: transparent;
    border: solid whitesmoke 1px;
    padding: 15px;
    margin: 20px;
}

input[type=email] {
    width: 30%;
    color: whitesmoke;
    background-color: transparent;
    border: solid whitesmoke 1px;
    padding: 15px;
    margin: 20px;
}

textarea {
    height: 200px;
    width: 60%;
    color: whitesmoke;
    background-color: transparent;
    border: solid whitesmoke 1px;
    margin: 20px;
}

 ::placeholder {
    color: whitesmoke;
}

input[type=button],
input[type=reset] {
    background-color: transparent;
    border: solid whitesmoke 1px;
    color: whitesmoke;
    padding: 10px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.footer {
    text-align: center;
}

.footer img {
    padding-left: 30px;
}

.col-md-3 {
    padding: 10px 10px;
}

.hold {
    padding: 150px;
    padding-top: 5px;
    padding-bottom: 10px;
}


/* portfolio style */

#port {
    position: relative;
}

.text {
    font-weight: bold;
    z-index: 1;
    position: absolute;
    left: 35%;
    top: 50%;
    color: white;
}

.hide {
    display: none;
}