.one {
    background-image: url("./assests/backgrounds/h_img.jpg");
    height: 800px;
    text-align: center;
    color: whitesmoke;
    padding: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
}

.two {
    height: 300px;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-weight: bold;
}

.three {
    background-image: url("./assests/backgrounds/s_image.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    padding-top: 150px;
}

.four {
    height: 400px;
    font-weight: bold;
    text-align: center;
}